<div class="info header mt-3 mb-2">Toggles</div>
<div class="row">
  <div class="col-sm-6 col-xl-3 mt-2">
    <div class="form-group d-inline">
      <label for="streamerMode">Streamer Mode</label>
      <input
        id="streamerMode"
        name="streamerMode"
        value="true"
        type="checkbox"
        data-toggle="toggle"
        data-on="On"
        data-off="Off"
        data-onstyle="success"
        data-offstyle="danger"
      />
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 mt-2">
    <div class="form-group d-inline">
      <label for="verified">Verified</label>
      <input
        id="verified"
        name="verified"
        value="true"
        type="checkbox"
        data-toggle="toggle"
        data-on="On"
        data-off="Off"
        data-onstyle="success"
        data-offstyle="danger"
      />
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 mt-2">
    <div class="form-group d-inline">
      <label for="emailVerified">Email Verified</label>
      <input
        id="emailVerified"
        name="emailVerified"
        value="true"
        type="checkbox"
        checked
        data-toggle="toggle"
        data-on="On"
        data-off="Off"
        data-onstyle="success"
        data-offstyle="danger"
      />
    </div>
  </div>
  <div class="col-sm-6 col-xl-3 mt-2">
    <div class="form-group d-inline">
      <label for="sendEmail">Send Email</label>
      <input
        id="sendEmail"
        name="sendEmail"
        value="true"
        type="checkbox"
        checked
        data-toggle="toggle"
        data-on="On"
        data-off="Off"
        data-onstyle="success"
        data-offstyle="danger"
      />
    </div>
  </div>
</div>
