// -----------------------------------------------------------------------------
// This file contains all styles related to the table list component.
// -----------------------------------------------------------------------------
.customTable {
  .table-wrapper {
    .table-title {
      .btn-danger {
        float: right;
      }
      .btn-success {
        float: right;
        margin-right: 1em;
      }
    }
  }
  .table-wrapper {
    // padding: 15px 15px 0px;
    margin: 30px 0;
    border-radius: 3px;
  }

  .table-title {
    padding-bottom: 15px;
    background: $brand-color-alt-2;
    color: #fff;
    padding: 16px 30px;
    margin: -20px 0 10px;
    border-radius: 3px 3px 0 0;
  }

  .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
  }

  .table-title .btn-custom {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
  }

  .table-title .btn-custom:hover,
  .table-title .btn-custom:focus {
    color: #566787;
    background: #f2f2f2;
  }

  .table-title .btn-custom i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
  }

  .table-title .btn span {
    float: left;
    margin-top: 2px;
  }

  table.table tr th,
  table.table tr td {
    color: $brand-color;
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
  }
  table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
  }

  table.table td:last-child i {
    opacity: 0.9;
    font-size: 18px;
    margin: 0 5px;
  }

  table.table td a,
  table.table td button {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
  }
  // Edit button
  table.table td a.edit {
    color: #2196f3;
    &:hover {
      color: darken(#2196f3, 10);
    }
  }

  // Ban button
  table.table td a.ban {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
    color: #ff1100;
    &:hover {
      color: lighten(#ff1100, 10);
    }
  }

  // Ban button
  table.table td button.unban {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
    color: green;
    &:hover {
      color: lighten(green, 10);
    }
  }

  // pause button
  table.table td a.suspend {
    color: #bdcf00;
    &:hover {
      color: lighten(#bdcf00, 5);
    }
  }
  table.table td button.unsuspend {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
    color: green;
    &:hover {
      color: lighten(green, 5);
    }
  }

  table.table td button.delete {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
    color: #ab0b00;
    &:hover {
      color: darken(#ab0b00, 10);
    }
  }
  table.table td a.delete {
    color: #ab0b00;
    &:hover {
      color: darken(#ab0b00, 10);
    }
  }

  table.table td i {
    font-size: 19px;
  }

  .status {
    font-size: 30px;
    margin: -7px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
  }

  .text-success {
    color: #10c469;
  }

  .text-info {
    color: #62c9e8;
  }

  .text-warning {
    color: #ffc107;
  }

  .text-danger {
    color: #ff5b5b;
  }

  .pagination {
    float: right;
    margin: 0 0 5px;
  }

  .pagination li a {
    // border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
  }

  .pagination li a:hover {
    color: #666;
  }

  .pagination li.active a,
  .pagination li.active a.page-link {
    background: $brand-color;
  }

  .pagination li.active a:hover {
    background: $brand-color-alt;
  }

  .pagination li.disabled i {
    color: #ccc;
  }

  .pagination li i {
    font-size: 16px;
    padding-top: 6px;
  }

  .hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
  }
  .page-list {
    .btn-group {
      .dropdown-menu {
        min-width: 2rem;
      }
      .btn.btn-secondary.dropdown-toggle {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        background: $brand-color;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
      }
    }
  }
}
@media (max-width: 991px) {
  .customTable {
    .table-wrapper {
      .table-title {
        h2 {
          text-align: center;
        }
        .btn-danger,
        .btn-success {
          margin-top: 1em;
          float: none;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
