<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="navbarLogo desktop" src="/images/logo_text.png" alt="<%= siteTitle %>">
      <img class="navbarLogo mobile d-none" src="/images/logo.png" alt="<%= siteTitle %>">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/admin/uploads" class="nav-link">Uploads</a>
        </li>
        <li class="nav-item">
          <a href="/admin/uploads" class="nav-link">Image Gallery</a>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link">Users</a>
        </li>
        <% include ../../partials/navbarUser %>
      </ul>
    </div>
  </div>
</nav>
