// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 140px;
  /* Margin bottom by footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%; // height: 60px; /* Set the fixed height of the footer here
  // line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  footer {
    height: 140px;
  }
}

.img-circle {
  border-radius: 50%;
}

// Center Row
.row-centered {
  text-align: center;
}

// Center Col
.col-centered {
  margin: 0 auto;
  float: none;
}
.r-0 {
  right: 0 !important;
}
