<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<div class="container">
  <%- include ('../partials/account/tokensList') %>
</div>

<%- include ('../partials/footer.ejs') %>
