<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<div class="container mt-5 mb-5 tokens new">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <div class="display-4">Create new token</div>
      <form action="/tokens" method="POST" class="mt-2" id="token">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <div class="form-group">
          <label for="name">Token Label</label>
          <input name="name" type="text" class="form-control" id="name" value="Default Token Label" required>
        </div>
        <div class="form-group">
          <label for="expire">Expire?</label>
          <select name="expire" class="selectpicker" id="expire" data-style="btn-primary">
            <option value="0" selected>Never</option>
            <option value="1">24 Hours</option>
            <option value="7">A Week</option>
            <option value="30">A Month</option>
          </select>
        </div>
        <a href="/tokens" role=button" class="btn btn-danger" style="color: #ffff;">Cancel</a>
        <button type="submit" class="btn btn-primary">Create Token</button>
      </form>
    </div>
  </div>
</div>

<style>
  body,
  html {
    height: 100%;
  }
</style>
<%- include ('../partials/footer') %>
