// -----------------------------------------------------------------------------
// This file contains all styles related to the me page.
// -----------------------------------------------------------------------------
.me {
    .top {
        background: #fff;

        .title {
            text-transform: uppercase;
        }

        .pic img {
            border-radius: 50%;
        }

        .usertitle {
            .name {
                color: #5a7391;
                font-size: 1.5em;
                font-weight: 600;
            }

            .role {
                color: #5b9bd1;
                font-size: 1em;
                font-weight: 600;
            }
        }

        .userbuttons {
            margin-top: 10px;
        }
    }

    .info {
        margin: 0 auto;
    }


}

@media (max-width: 768px) {
    .account {
        .top {
            .pic {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .usertitle {
                float: none;
                text-align: center;
            }

            .userbuttons {
                float: none;
                margin: 0 auto;
            }
        }
    }
}
