// -----------------------------------------------------------------------------
// This file contains all styles related to the admin page.
// -----------------------------------------------------------------------------
.admin {
  &.index {
    .card {
      background-color: $brand-color-alt-2;
    }
  }
  &.user {
    .header {
      font-size: 1.5em;
      font-style: $main-font;
      font-weight: 700;
      color: $brand-color;
    }
    form {
      label {
        font-size: 1em;
        font-style: $second-font;
      }
    }
    .info {
      &.header {
        font-style: $main-font;
        font-weight: 500;
        font-size: 1.5em;
      }
    }
    .card-title {
      font-style: $main-font;
      font-weight: 500;
      font-size: 1.25em;
      color: $brand-color;
    }
    .card-text {
      font-size: 1em;
      font-style: $second-font;
      strong {
        font-weight: 700;
      }
    }
  }
}
