// -----------------------------------------------------------------------------
// This file contains all styles related to the auth component
// -----------------------------------------------------------------------------
.auth {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(lighten($brand_color, 25%), 0.35);
  height: 100%;
  h1 {
    font-size: 1.5em;
    font-family: $main-font;
    margin-bottom: 0.5em;
    text-align: center;
  }
  .form-auth {
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);

    border-radius: 10px;
    // border: solid 1px $brand-color;
    width: 100%;
    max-width: 450px;
    padding: 50px;
    margin: auto;
    background-color: #ffffff;

    .btn-auth {
      border-radius: 8px;

      padding: 0.6em;
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      color: $buttonTextColor;
      background-color: darken($buttonBg, 7%);
      transition-duration: 300ms;
      &:hover {
        color: $buttonTextColorHover;
        background-color: $buttonBgHover;
      }
    }
  }

  .info {
    margin-top: 0.2em;
    &.text {
      margin-top: 0.2em;
      display: block;
    }
  }
}
