<!doctype html>
<html class="h-100" lang="en">

<head>
  <title>
    <%= title %> | <%= siteTitle %>
  </title>
  <!-- Basic Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Frameworks -->
  <!-- Font Awsome-->
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/all.min.css">
  <!--Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
