<%- include ('./partials/header') %> <%- include ('./partials/navbar') %>
<div class="container mt-3 pl-0 pr-0">
  <%- include ('./partials/streamerMode') %>
</div>
<div class="container mt-3 mb-3">
  <h1 class="text-center">
    This page is coming soon.
  </h1>
</div>
<%- include ('./partials/footer.ejs') %>
