// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Fonts
$main-font: "Oswald", sans-serif;

$second-font: "Times New Roman", Times, serif;

// Footer Text
$footer-color: #ffffff;
$footer-color_link: #f2f2f2;
$footer-background: #015274;

// Brand Color
$brand-color: #00328d;
$brand-color-alt: #25aae1;
$brand-color-alt-2: #015274;

// Menu Links
$nav-bgDefault: #ffffff;
$nav-bgHighlight: #ffffff;
$nav-colDefault: #25aae1;
$nav-colHighlight: #00328d;
$nav-dropdown: true;

// Buttons
$button_background_effect_font: #ffffff;
$button_background_effect: #00709f;
