// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    background-color: $footer-background;
    padding-top: 12px;
    padding-bottom: 12px;

    p {
        font-size: 1em;
        color: $footer-color;
        margin-bottom: 0;

        a {
            color: $footer-link;
            text-decoration: none;
        }

        a:hover {
            color: lighten($footer-link, 15%);
            text-decoration: none;
        }
    }
       .right {
          text-align: right;
        }
}

@media (max-width: 991px) {
    footer {
        p {
            text-align: center;
        }

        .display-hidden{
            display: none;
        }
    }
}
