// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar of the site/application.
// -----------------------------------------------------------------------------
.navbar {
  .profile-image {
    position: relative;
    top: -3px;
    float: left;
    left: -5px;
    width: 30px;
    height: 30px;
  }

  .navbarLogo {
    height: 30px;
  }
}

@media (max-width: 408px) {
  .navbar {
    .navbarLogo {
      &.desktop {
        display: none !important;
      }

      &.mobile {
        display: inline-block !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    .dropdownMobile {
      display: block !important;
    }

    .dropdown-menu {
      margin-top: 0 !important;
      box-shadow: none !important;
    }
  }
}

$bgDefault: #ffffff;
$bgHighlight: #ffffff;
$colDefault: #000000;
$colHighlight: #0013a1;
$dropDown: true;

.navbar {
  background-color: $bgDefault;
  box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.5);

  .dropdown-menu {
    right: 0;
    left: auto;
    border: none;
    border-radius: 0;
    margin-top: 0.6em;
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.25);
  }

  .navbar-brand {
    color: $colDefault;

    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }

  .navbar-text {
    color: $colDefault;

    a {
      color: $colHighlight;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: 0.25rem;
      margin: 0 0.25em;

      &:not(.disabled) {
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
    }

    @if $dropDown {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;

        .dropdown-item {
          color: $colDefault;

          &:hover,
          &:focus,
          &.active {
            color: $colHighlight;
            background-color: $bgHighlight;
          }
        }

        .dropdown-divider {
          border-top-color: $bgHighlight;
        }
      }
    }

    .nav-item.active,
    .nav-item.show {
      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }

    .navbar-toggler-icon {
      color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;

    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;

      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }

    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}

.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;

    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }

  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight;
  }
}
