<div class="header mb-2"><%= user.username %>s Account</div>
<div class="form-group">
  <label for="username">Username</label>
  <input
    name="username"
    type="text"
    class="form-control"
    id="username"
    value="<%= user.username %>"
    autocomplete="off"
    data-lpignore="true"
  />
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input
    name="email"
    type="text"
    class="form-control"
    id="email"
    value="<%-
  currentUser.streamerMode ? `${user.email.substring(0,3)}******`:
  user.email %>"
  />
  <% if(currentUser.newEmail) { %>
  <small class="form-text text-success pt-2">
    Your new e-mail address
    <span id="newEmail"
      ><%- currentUser.streamerMode ?
      `${currentUser.newEmail.substring(0,3)}******`: currentUser.newEmail
      %></span
    >, has not yet been verified.
  </small>
  <% } %>
</div>
