<div class="info header mt-3 mb-2">Basic Info</div>
<div class="row mb-5">
  <div class="col-sm-12 col-md-4 mt-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Limits</h5>
        <p class="card-text"><strong>15</strong> uploads per min.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 mt-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last Login</h5>
        <p class="card-text"><%= moment(user.lastLog).fromNow() %></p>
      </div>
    </div>
  </div>
  <% if(user.passwordChanged !== undefined) { %>
  <div class="col-sm-12 col-md-4 mt-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Last password change</h5>
        <p class="card-text">
          <%= moment(user.passwordChanged).fromNow() %>
        </p>
      </div>
    </div>
  </div>
  <% } %>
</div>
  <div class="row pb-5">
    <% if(user.lastActivity !== undefined) { %>
    <div class="col-sm-12 col-md-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Last Activity</h5>
          <p class="card-text">
            <%= moment(user.lastActivity).format('MMM Do YYYY hh:mm A')
            %> CST %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
