<div class="info header mt-3 mb-2">Role</div>
<select id="role" class="selectpicker">
  <% if (currentUser.role === 'owner') { %>
  <option>Owner</option>
  <% } %>
  <option <% if(user.role === 'admin') { %> selected <% } %>>Admin</option>
  <option <% if(user.role === 'user') { %> selected <% } %>>User</option>
</select>
