<div class="info header mt-3 mb-2">Role</div>
<select id="role" class="selectpicker">
  <% if (currentUser.role === 'owner') { %>
  <option>Owner</option>
  <% } %>
  <option>Admin</option>
  <option>User</option>
</select>
