<div class="info header mt-3 mb-2">Role</div>
<select id="role" name="role" class="selectpicker" <% if (user.role === 'owner'){ %> disabled <%}%> >
  <option  value="owner" <% if(user.role === 'owner') { %> selected <% } %> <%- currentUser.role !== 'owner' ? 'disabled' : '' %>>Owner</option>
  <option value="admin" <% if(user.role === 'admin') { %> selected <% } %>>Admin</option>
  <option value="user" <% if(user.role === 'user') { %> selected <% } %>>User</option>
</select>
  <% if(errors && error[0].role) { %>
  <small class="form-text text-danger"> <%= error[0].role %></small>
  <% } %>
