<div class="info header mt-3 mb-2">Security</div>
<div class="form-group">
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <div class="input-group">
      <input
        name="newPassword"
        type="password"
        data-toggle="password"
        class="form-control"
        id="newPassword"
        disabled
      />
    </div>
  </div>
</div>
