<!-- Footer -->
<footer>
  <!-- Footer copyright with auto update year. -->
  <div class="container text-center">
    <p> Copyright ©
      <%= currentYear %>
      <strong>
        <%= footerTitle %>
      </strong>
          <% if(credit) { %>
          | Source Code <a href="https://github.com/MrDemonWolf/share/" target="_blank" rel="nofollow"><i class="fab fa-github"
              aria-hidden="true"></i></a>
          <% } %>
    </p>
</footer>
</body>
<!-- Loadidng JS -->
<!-- Bootstrap Javascript -->
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Toggle -->
<script type="text/javascript" src="/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<!-- Bootstrap Select -->
<script type="text/javascript" src="/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<!-- Bootstrap Table -->
<script type="text/javascript" src="/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
<!-- Conditionize -->
<script type="text/javascript" src="/lib/conditionize/js/conditionize.min.js"></script>

<!-- Custom -->
<script type="text/javascript" src="/js/main.js"></script>

</html>
