</body>
<!-- Footer -->
<footer>
  <!-- Footer copyright with auto update year. -->
  <div class="container text-center">
    <p> Copyright ©
      <%= currentYear %>
      <strong>
        <%= footerTitle %>
      </strong>
    </p>
</footer>
<!-- Loadidng JS -->
<!-- Bootstrap Javascript -->
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Toggle -->
<script type="text/javascript" src="/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<!-- Bootstrap Select -->
<script type="text/javascript" src="/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<!-- Custom -->
<script type="text/javascript" src="/js/main.js"></script>

</html>
