<!-- Footer -->
<footer>
  <!-- Footer copyright with auto update year. -->
  <div class="container">
    <div class="row ml-5 mr-5">
      <div class="col-md-12 col-lg-6 left">
        <p> Copyright ©
          <%= currentYear %>
          <strong>
            <a href="<%= siteURL %>"><%= footerTitle %></a>
          </strong>
          <% if(credit) { %>
          <span class="display-hidden">
            - Github Repo <a href="https://github.com/MrDemonWolf/share/" target="_blank" rel="nofollow"><i
                class="fab fa-github" aria-hidden="true"></i></a></span>
          <% } %>
        </p>
      </div>
      <div class="col-lg-6 display-hidden right">
        <% if(showVersion) { %>
          <span>
            <p class="mt-0 pt-0">Currently running Version <%= version %></p>
          </span>
        <% } %>
      </div>
    </div>
  </div>
</footer>
</body>
<!-- Bootstrap Javascript -->
<script type="text/javascript" src="/assets/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Toggle -->
<script type="text/javascript" src="/assets/vender/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<!-- Bootstrap Select -->
<script type="text/javascript" src="/assets/vender/bootstrap-select/js/bootstrap-select.min.js"></script>
<!-- Bootstrap Table -->
<script type="text/javascript" src="/assets/vender/bootstrap-table/js/bootstrap-table.min.js"></script>
<!-- Conditionize -->
<script type="text/javascript" src="/assets/vender/conditionize/js/conditionize.min.js"></script>
<!-- Custom -->
<script type="text/javascript" src="/assets/js/main.js"></script>

</html>
