<!-- Footer -->
<footer>
  <!-- Footer copyright with auto update year. -->
  <div class="container text-center">
    <p> Copyright ©
      <%= currentYear %>
      <strong>
        <%= footerTitle %>
      </strong>
          <% if(credit) { %>
          | Source Code <a href="https://github.com/MrDemonWolf/share-mrdemonwolf-me/" target="_blank"><i class="fab fa-github"
              aria-hidden="true"></i></a>
          <% } %>
    </p>
</footer>
</body>
<!-- Loadidng JS -->
<% include footerFrameworks %>
<!-- Custom -->
<script type="text/javascript" src="/js/main.js"></script>

</html>
