<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>
    <%= title %> | <%= siteTitle %>
  </title>
  <!-- Frameworks -->
  <!-- Font Awsome-->
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/all.min.css">
  <!--Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Loadidng JS -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="/lib/jquery/js/jquery.min.js"></script>
</head>

<body>
