<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="navbarLogo desktop" src="/assets/images/logo_text.png" alt="<%= siteTitle %>">
      <img class="navbarLogo mobile d-none" src="/assets/images/logo.png" alt="<%= siteTitle %>">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <% if(currentUser) { %>
        <li class="nav-item">
          <a href="/" class="nav-link">Manage Uploads</a>
        </li>
        <li class="nav-item">
          <a href="/gallery" class="nav-link">Image Gallery</a>
        </li>
        <% } %>
        <%- include ('./navbarUser') %>
      </ul>
    </div>
  </div>
</nav>
