<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand " href="#">
      <img alt="Logo" src="<%= logo %>" height="40" />
      <span><%= siteTitle %></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <% if(currentUser) { %>
        <li class="nav-item  <% if(pageName === 'uploads'){%> active <%}%>">
          <a href="/" class="nav-link"
            >Uploads <% if(pageName === 'uploads'){%><span class=" sr-only"
              >(current)</span
            ><%}%></a
          >
        </li>
        <li class="nav-item <% if(pageName === 'gallery'){%> active <%}%>">
          <a href="/gallery" class="nav-link"
            >Gallery <% if(pageName === 'gallery'){%><span class=" sr-only"
              >(current)</span
            ><%}%></a
          >
        </li>
        <!-- <li class="nav-item <% if(pageName === 'config'){%> active <%}%>"> -->
        <!-- <a href="/config" class="nav-link" -->
        <!-- >Config <% if(pageName === 'config'){%><span class=" sr-only" -->
        <!-- >(current)</span -->
        <!-- ><%}%></a -->
        <!-- > -->
        <!-- </li> -->
        <li class="nav-item <% if(pageName === 'tokens'){%> active <%}%>">
          <a href="/tokens" class="nav-link"
            >Tokens <% if(pageName === 'tokens'){%><span class=" sr-only"
              >(current)</span
            ><%}%></a
          >
        </li>
        <% } %> <%- include ('./navbarUser') %>
      </ul>
    </div>
  </div>
</nav>
