<% if(currentUser && currentUser.streamerMode) {%>
<div class="container-fluid pr-0 pl-0">
  <div class="alert alert-info" id="streamerModeBanner" role="alert">
    Streamer Mode is enabled
  </div>
</div>
<%}%>
