<%- include ('../partials/header') %>
<%- include ('../partials/admin/navbar') %>

<div class="container pl-0 pr-0 mb-5">
  <%- include ('../partials/admin/linksList') %>
</div>

<%- include ('../partials/footer.ejs') %>
