<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>
<div class="container pl-0 pr-0 mt-3 mb-5 links">
  <%- include ('../partials/account/links/linksList') %>
</div>
<%-include ('../partials/footer.ejs') %>
