<div class="vh-90 d-flex justify-content-center align-items-center banned text-center">
  <div class="jumbotron w-75 bg-white">
    <h1 class="display-4">You are currently banned</h1>
    <p class="lead">
      Till: Indefinite
    </p>
  </div>
</div>
