<div class="vh-90 d-flex justify-content-center align-items-center notloggedin">
  <div class="jumbotron w-75">
    <h1 class="display-4">Welcome to <%= siteTitle %></h1>
    <p class="lead">
      <%= siteDesc %>
    </p>
  </div>
</div>
