<div
  class="vh-90 d-flex justify-content-center align-items-center banned text-center"
>
  <div class="jumbotron w-75 bg-white">
    <h1 class="display-4">You are currently suspended</h1>
    <p class="lead">
      Reason: <strong><%= currentUser.suspendedReason %></strong>
    </p>
    <p class="lead">
      Expires in <%= moment(currentUser.suspendedExpire).fromNow(true) %>
    </p>
  </div>
</div>
