<!-- Footer -->
<footer>
  <!-- Footer copyright with auto update year. -->
  <div class="container text-center">
    <p> Copyright ©
      <%= currentYear %>
      <strong>
        <%= footerTitle %>
      </strong>
    </p>
</footer>
</body>
<!-- Loadidng JS -->
<% include footerFrameworks %>
<!-- Custom -->
<script type="text/javascript" src="/js/main.js"></script>

</html>
