<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/admin">
      <img
        class="navbarLogo desktop"
        src="/assets/images/logo_text.png"
        alt="<%= siteTitle %>"
      />
      <img
        class="navbarLogo mobile d-none"
        src="/assets/images/logo.png"
        alt="<%= siteTitle %>"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item  <% if(pageName === 'adminUploads'){%> active <%}%>"
        >
          <a href="/admin/uploads" class="nav-link"
            >Uploads <% if(pageName === 'adminUploads'){%><span
              class="
          sr-only"
            >
              (current)</span
            ><%}%></a
          >
        </li>
        <li class="nav-item <% if(pageName === 'adminGallery'){%> active <%}%>">
          <a href="/admin/gallery" class="nav-link"
            >Gallery <% if(pageName === 'adminGallery'){%><span class=" sr-only"
              >(current)</span
            ><%}%></a
          >
        </li>
        <li class="nav-item <% if(pageName === 'adminUsers'){%> active <%}%>">
          <a href="/admin/users" class="nav-link"
            >Users <% if(pageName === 'adminUsers'){%><span class=" sr-only"
              >(current)</span
            ><%}%></a
          >
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Back to User</a>
        </li>
        <%- include ('./../navbarUser') %>
      </ul>
    </div>
  </div>
</nav>
