<a id="btn-enable-mfa" class="btn btn-danger" style="color: #ffff;"
  >Enable MFA</a
>
<div
  class="modal fade"
  id="enable-mfa"
  tabindex="-1"
  role="dialog"
  aria-labelledby="enableMfa"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Setup MFA</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <img id="mfa-qr-code" class="rounded mx-auto d-block" />
          <div class="alert alert-info " role="alert">
            Scan the image ablove into a MFA program (eg Google Authenticator
            and or any supported app) and enter the code below to verify.
          </div>
          <div class="form-group">
            <label for="mfa-secret">
              Click eye to show secret key for manual configuration</label
            >
            <input
              name="mfa-secret"
              type="password"
              data-toggle="password"
              class="form-control"
              id="mfa-secret"
              disabled
            />
          </div>
          <form id="verify-mfa">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <div class="form-group">
              <label for="verify-mfa">
                Verify Token
              </label>
              <input
                name="verify-mfa"
                type="text"
                class="form-control"
                id="verify-mfa"
              />
              <small id="mfa-error" class="invalid-feedback"> </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
            <button
            id="btn-verify-mfa"
            class="btn btn-primary"
            style="color: #ffff;"
            >
            Enable
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(() => {
  $("#btn-enable-mfa").on("click", function() {
    $.ajax({
      url: "/account/mfa/setup",
      type: "POST",
      data: { _csrf: "<%= _csrf %>" },
      success: function(response) {
        console.log(response);
        $("#mfa-error").removeClass("d-block");
        $("#mfa-secret").attr("value", response.mfaSecret);
        $("#mfa-secret").val(response.mfaSecret);
        $("#mfa-qr-code").attr("src", response.qrcode);
      },
      error: function(response) {
        console.log(response);
      }
    });
    $("#enable-mfa").modal("show");
  });

  $("#enable-mfa").on("hidden.bs.modal", function() {
    $("#mfa-secret").password("hide");
    $(":input", this).val("");

  });
    $("#verify-mfa").on("submit", function(e) {
    e.preventDefault();
  })
  $("#btn-verify-mfa").on("click", function(e) {
    e.preventDefault();
    const verifyMfa = $("#verify-mfa")
      .val()
      .trim();
          const secretMfa = $("#mfa-secret")
      .val()
    if (!verifyMfa) {
      $("#mfa-error").addClass("d-block");
      $("#mfa-error").html(
        "You must verify MFA code before you can enable it."
      );
    }
      $.ajax({
      url: "/account/mfa/setup/verify",
      type: "POST",
      data: { _csrf: "<%= _csrf %>", token: verifyMfa, secret: secretMfa },
      success: function(response) {
      $("#mfa-secret").password("hide");
    $("#btn-enable-mfa").html("MFA is enabled");
        $('#mfa').bootstrapToggle('enable')
        $('#mfa').bootstrapToggle('on')
    $("#btn-enable-mfa").removeClass("btn-danger");
    $("#btn-enable-mfa").addClass("btn-success");
    $(":input", this).val("");
    $("#enable-mfa").modal("hide");
    $("#btn-enable-mfa").addClass("disabled");

      },
      error: function(response) {
        console.log(response);
      $("#mfa-error").addClass("d-block");
      $("#mfa-error").html(response.message);
      }
    });
  });

  $("#btn-enable-mfa").on("click", function() {

  });
});
</script>
