<div class="info header mt-3 mb-2">Security</div>
    <div class="form-group">
      <label for="oldPassword">Current Password</label>
      <div class="input-group">
        <input name="oldPassword" data-toggle="password" type="password"
          class="form-control <% if(errors && error[0].oldPassword) { %> is-invalid <% } %>" id="oldPassword">
        <% if(errors && error[0].oldPassword) { %>
        <small class="form-text text-danger">
          <%= error[0].oldPassword %></small>
        <% } %>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="input-group">
          <input name="newPassword" type="password" data-toggle="password"
            class="form-control <% if(errors && error[0].newPassword | error[0].comfirmNewPassword === 'Both passowrds must match.') { %> is-invalid <% } %>"
            id="newPassword">
        </div>
      </div>
      <% if(errors && error[0].newPassword) { %>
      <small class="form-text text-danger">
        <%= error[0].newPassword %></small>
      <% } %>
      <div class="input-group">
        <label for="comfirmPassword">Confirm New Password</label>
        <input name="comfirmPassword" type="password" data-toggle="password"
          class="form-control <% if(errors && error[0].comfirmNewPassword) { %> is-invalid <% } %>"
          id="comfirmPassword">
      </div>
      <% if(errors && error[0].confirmNewPassword) { %>
      <small class="form-text text-danger">
        <%= error[0].confirmNewPassword %></small>
      <% } %>
    </div>
