   <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <div class="info header mt-3 mb-2">Toggles</div>
    <div class="form-group d-inline">
      <label for="streamerMode">Streamer Mode</label>
      <input id="streamerMode" name="streamerMode" value="true" type="checkbox" checked data-toggle="toggle"
        data-on="On" data-off="Off" data-onstyle="success" data-offstyle="danger">
    </div>
    <script>
   $(function() {
    $('#streamerMode').change(function() {
      console.log($(this).prop('checked'))
       $('#success').show();
            $('#success').html($(this).prop('checked').toString());
    })
  })
    </script>
