<!doctype html>
<html class="h-100" lang="en">

<head>
  <title>
    <%= title %> | <%= siteTitle %>
  </title>
  <!-- Basic Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Frameworks -->
  <!-- Font Awsome-->
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/all.min.css">
  <!--Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body class="auth mb-0">
  <div class="form-auth">
    <img class="mx-auto d-block mb-4" src="/images/logo_text.png" width="220">
    <form action="/auth/login" method="POST">
      <% if (error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>
      <% if (success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control <% if(error && error.length > 0){ %>is-invalid <% } %>"
          id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password"
          class="form-control <% if(error && error.length > 0){ %>is-invalid <% } %>" id="password"
          placeholder="Password">
      </div>
      <button type="submit" class="btn btn-login btn-primary btn-block">login</button>
    </form>
    <div class="info">
      <a href="/user/forgot">
        <small class=" info text">Forgot your password?</small>
      </a>
      <a href="/user/activation/resend">
        <small class=" info text">Resend account activation token</small>
      </a>
      <a href="/auth/signup">
        <small class="info text">Create a account</small>
      </a>
    </div>
  </div>
</body>
<% include ../partials/footer %>
