<% include ../partials/header %>
<% include ../partials/imageMeta %>
<% include ../partials/navbar %>

<div class="container w-75 pt-5 view_images text-center">
  <img class="img-thumbnail" src="/u/i/<%= file.name %>">
  <a href="/u/<%= file.name %>" target="_blank" class="btn position-absolute">
    <i class="fas fa-external-link-alt"></i>
  </a>
</div>

<% include ../partials/footer %>
