<div class="alert alert-success" role="alert">
  Welcome back MrDemonWolf
</div>
<!-- <% if (success && success.length > 0){ %> -->
<div class="alert alert-success" role="alert">
  <!-- <%= success %> -->
  Welcome back MrDemonWolf
</div>
<!-- <% } %> -->
